.bg-dark {
  background-color: #082032 !important; }

.btn-outline-success {
  color: #FF4C29;
  border-color: #FF4C29; }

.btn-primary {
  color: #FFFFFF;
  background-color: #082032;
  border-color: #082032; }

.btn-success {
  color: #082032;
  background-color: #FF4C29;
  border-color: #FF4C29; }

.btn-danger {
  color: #2C394B;
  background-color: transparent !important;
  border-color: #FF4C29 !important; }

.bg-primary {
  background-color: #082032 !important; }

.size, #descubre, #planes, #nosotros {
  height: 40px; }

a {
  text-decoration: none; }

.redesSociales__lista {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; }

.redesSociales__logo {
  list-style: none;
  margin: 0 15px;
  padding-bottom: 20px; }

.segmento__titulo {
  color: #082032; }
  .segmento__titulo .badge {
    font-size: 12px;
    position: absolute;
    top: 10px; }

.carousel-item img {
  height: 30vh;
  object-fit: cover; }

@media only screen and (min-width: 700px) {
  .carousel-item img {
    height: 60vh;
    object-fit: cover; } }

@media only screen and (min-width: 1000px) {
  .carousel-item img {
    height: 90vh;
    object-fit: cover; } }

.sectionPoint {
  background-color: #FF4C29;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 70px; }
  .sectionPoint h2 {
    line-height: 70px; }

.galeriaImagenes img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px; }

@media only screen and (min-width: 700px) {
  .galeriaImagenes {
    display: grid;
    column-gap: 6px;
    row-gap: 6px;
    grid-template-columns: repeat(4, 1fr);
    align-items: stretch; }
    .galeriaImagenes img {
      margin-bottom: 0; }
      .galeriaImagenes img:hover {
        transform: scale(1.2, 1.1); }
      .galeriaImagenes img:nth-child(2) {
        grid-column: span 3;
        grid-row: span 3; }
      .galeriaImagenes img:nth-child(5) {
        grid-column: span 2; }
      .galeriaImagenes img:nth-child(6) {
        grid-column: span 2; } }

@media only screen and (min-width: 1000px) {
  .galeriaImagenes {
    width: 90%;
    margin-top: 50px;
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr); }
    .galeriaImagenes img {
      width: 100%;
      height: 300px;
      margin-bottom: 0;
      transition: all 2s; }
      .galeriaImagenes img:hover {
        transform: rotateY(180deg); }
      .galeriaImagenes img:nth-child(2) {
        grid-column: span 1;
        grid-row: span 1; }
      .galeriaImagenes img:nth-child(5) {
        grid-column: span 1; }
      .galeriaImagenes img:nth-child(6) {
        grid-column: span 1; } }

.pageNotFound__video {
  object-fit: cover;
  width: 100%;
  height: 150vh; }

.pageNotFound__card {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 70px;
  left: 10px; }

.card__img {
  width: 60%;
  height: 100%; }
  .card__img img {
    width: 100%; }

.card__tittle, .card__info, h1 {
  color: white;
  text-align: center; }

.card__tittle {
  font-size: 32px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.5); }

.card__info {
  font-size: 16px; }

.center-absolute {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column; }

span {
  text-transform: uppercase; }

@media only screen and (min-width: 1000px) {
  .descubre {
    height: 90vh; }
  .segmento__contenedor {
    height: 90%; }
  .segmento__imagen {
    height: 500px; }
  .pageNotFound__card {
    width: 90%;
    height: 60%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 160px;
    left: 55px; }
  .pageNotFound__video {
    height: 99vh; }
  .card__img {
    width: 45%;
    height: 450px; }
    .card__img img {
      height: 450px; }
  .card__content {
    width: 55%;
    padding: 5px; }
  .center-absolute {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; } }

i.facebook {
  color: #00acee;
  font-size: 32px; }

i.instagram {
  color: #c012a9;
  font-size: 32px; }

i.github {
  color: #ffffff;
  font-size: 32px; }

i.whatsapp {
  color: #00bb2d;
  font-size: 32px; }
