// variables
$primary-color: #082032;
$secondary-color: #FF4C29;
$primary-letter-color: #FFFFFF;
$secondary-letter-color: #2C394B;

$size: 16px;

// icon colors MAP

$icons:(
    facebook: #00acee,
    instagram: rgb(192, 18, 169),
    github: #ffffff,
    whatsapp: #00bb2d
);


// fin variables